<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">About</h2>
      <p>Node.js + MongoDB 블로그 제작 프로젝트입니다.
         Heroku 무료 버전으로 호스팅 중입니다.
        <a href="http://minukbak.herokuapp.com">http://minukbak.herokuapp.com</a></p>
      <P>이 블로그는 아래 사이트에서 참고하여 작성되었습니다.
        <a href="http://a-mean-blog.com/ko/blog">http://a-mean-blog.com/ko/blog</a></p>
  </body>
</html>
